<main class="container">
  <div class="row justify-content-between align-items-center">
    <div class="col">
      <h1>
        Kevin<br />
        Garzón
      </h1>
      <h2 class="role">Full Stack Developer</h2>
      <p>
        I am an engineer with a strong focus on full stack web application
        development, leveraging leading-edge technologies. Passionate about
        innovation, continuous improvement, and simplicity in design, I thrive
        on sharing my knowledge and learning from others' experiences. I am
        dedicated to crafting robust solutions that meet both user needs and
        technological challenges.
      </p>
    </div>
    <div class="col-auto profile-container">
      <div class="image-container">
        <img src="me2.jpeg" alt="" />
      </div>
      <section class="section contact col">
        <!-- <h2>Contact Information</h2> -->
        <div class="content">
          <p>
            <span class="material-symbols-outlined">mail</span> Email: {{ email }}
          </p>
          <p>
            <span class="material-symbols-outlined">call</span> Phone: +57 304 357
            2093
          </p>
          <p>
            <span class="material-symbols-outlined">link</span>
            LinkedIn:
            <a href="https://linkedin.com/in/kevin-garzon" target="_blank"
              >linkedin.com/in/kevin-garzon</a
            >
          </p>
          <p>
            <span class="material-symbols-outlined">link</span>
            GitHub:
            <a href="https://github.com/KevinEGP" target="_blank"
              >github.com/KevinEGP</a
            >
          </p>
        </div>
      </section>

    </div>
  </div>

  <section class="section">
    <h2>Work Experience</h2>
    <div class="content">
      <h5>Full Stack Developer</h5>
      <p>Valid Colombia, Feb 2023 - Present</p>
      <ul>
        <li>
          Led the implementation of microservices in Java within the financial
          sector, leveraging technologies such as Spring Boot. Contributed
          extensively to the design, development, and deployment of
          microservice-based architectures, successfully transitioning
          monolithic applications into scalable, independent services.
          Established robust communication between microservices via RESTful
          APIs.
        </li>
        <li>
          Developed web applications using Angular and pioneered the adoption of
          microfrontends through Module Federation. Engineered modular, dynamic
          user interfaces by partitioning applications into smaller, autonomous
          microfrontends. Utilized Module Federation to seamlessly integrate
          these microfrontends, promoting efficient collaboration and resource
          sharing.
        </li>
        <li>
          Implemented comprehensive unit testing strategies using Karma and
          Jasmine for Angular components, achieving high code coverage.
          Conducted rigorous unit testing in Java with JUnit and Mockito,
          ensuring the reliability and functionality of developed microservices.
        </li>
      </ul>

      <h5>Junior Full Stack Developer</h5>
      <p>Tecno Corp, Ago 2021 - Feb 2023</p>
      <ul>
        <li>
          Developed full-stack web applications using Angular and Ruby on Rails,
          following best practices for software engineering and collaborating
          with other developers. Participated in code reviews and
          deployment/maintenance of the application.
        </li>
        <li>
          Built serverless applications using AWS Cognito, Lambda, and DynamoDB,
          deployed in the AWS cloud infrastructure. Followed best practices for
          serverless application development, including infrastructure-as-code
          and deployment, and monitoring with AWS CloudWatch.
        </li>
        <li>
          Created server instances and configured application environment on
          cloud infrastructure, including installation of necessary software
          components, deployment of application code, and implementation of
          networking and security settings. Followed best practices for cloud
          infrastructure management and security.
        </li>
      </ul>
    </div>
  </section>

  <section class="section">
    <h2>Skills</h2>
    <div class="content">
      <div class="row">
        <div class="col-sm-12 col-md-6 skill-container">
          <h5>Frontend</h5>
          <ul class="skills">
            <li>
              <div class="logo-container">
                <img
                  [src]="logos.js.url"
                  alt=""
                  [style.width]="logos.js.width"
                />
              </div>
              <span>Javascript</span>
            </li>
            <li>
              <div class="logo-container">
                <img
                  [src]="logos.angular.url"
                  alt=""
                  [style.width]="logos.angular.width"
                />
              </div>
              <span>Angular framework</span>
            </li>
            <li>
              <div class="logo-container">
                <img
                  [src]="logos.jasmine.url"
                  alt=""
                  [style.width]="logos.jasmine.width"
                />
              </div>
              <span>Jasmine for testing</span>
            </li>
            <li>
              <div class="logo-container">
                <img
                  [src]="logos.karma.url"
                  alt=""
                  [style.width]="logos.karma.width"
                />
              </div>
              <span>Karma for testing</span>
            </li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-6 skill-container">
          <h5>Backend</h5>
          <ul class="skills">
            <li>
              <div class="logo-container">
                <img
                  [src]="logos.java.url"
                  alt=""
                  [style.width]="logos.java.width"
                />
              </div>
              <span>Java</span>
            </li>
            <li>
              <div class="logo-container">
                <img
                  [src]="logos.spring.url"
                  alt=""
                  [style.width]="logos.spring.width"
                />
              </div>
              <span>Spring framework</span>
            </li>
            <li>
              <div class="logo-container">
                <img
                  [src]="logos.junit.url"
                  alt=""
                  [style.width]="logos.junit.width"
                />
              </div>
              <span>Junit for testing</span>
            </li>
            <li>
              <div class="logo-container">
                <img
                  [src]="logos.mockito.url"
                  alt=""
                  [style.width]="logos.mockito.width"
                />
              </div>
              <span>Mockito for testing</span>
            </li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-6 skill-container">
          <h5>Database</h5>
          <ul class="skills">
            <li>
              <div class="logo-container">
                <img
                  [src]="logos.mysql.url"
                  alt=""
                  [style.width]="logos.mysql.width"
                />
              </div>
              <span>MySQL</span>
            </li>
            <li>
              <div class="logo-container">
                <img
                  [src]="logos.postgres.url"
                  alt=""
                  [style.width]="logos.postgres.width"
                />
              </div>
              <span>Postgres</span>
            </li>
            <li>
              <div class="logo-container">
                <img
                  [src]="logos.mongo.url"
                  alt=""
                  [style.width]="logos.mongo.width"
                />
              </div>
              <span>MongoDB</span>
            </li>
            <li>
              <div class="logo-container">
                <img
                  [src]="logos.elastic.url"
                  alt=""
                  [style.width]="logos.elastic.width"
                />
              </div>
              <span>ElasticSearch</span>
            </li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-6 skill-container">
          <h5>Additional</h5>
          <ul class="skills">
            <li>
              <div class="logo-container">
                <img
                  [src]="logos.jenkins.url"
                  alt=""
                  [style.width]="logos.jenkins.width"
                />
              </div>
              <span>Jenkins</span>
            </li>
            <li>
              <div class="logo-container">
                <img
                  [src]="logos.sonar.url"
                  alt=""
                  [style.width]="logos.sonar.width"
                />
              </div>
              <span>SonarQube</span>
            </li>
            <li>
              <div class="logo-container">
                <img
                  [src]="logos.docker.url"
                  alt=""
                  [style.width]="logos.docker.width"
                />
              </div>
              <span>Docker</span>
            </li>
            <li>
              <div class="logo-container">
                <img
                  [src]="logos.git.url"
                  alt=""
                  [style.width]="logos.git.width"
                />
              </div>
              <span>Git</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <div class="row">
    <section class="section contact col">
      <h2>Contact Information</h2>
      <div class="content">
        <p>
          <span class="material-symbols-outlined">mail</span> Email: {{ email }}
        </p>
        <p>
          <span class="material-symbols-outlined">call</span> Phone: +57 304 357
          2093
        </p>
        <p>
          <span class="material-symbols-outlined">link</span>
          LinkedIn:
          <a href="https://linkedin.com/in/kevin-garzon" target="_blank"
            >linkedin.com/in/kevin-garzon</a
          >
        </p>
        <p>
          <span class="material-symbols-outlined">link</span>
          GitHub:
          <a href="https://github.com/KevinEGP" target="_blank"
            >github.com/KevinEGP</a
          >
        </p>
      </div>
    </section>

    <section class="section contact col">
      <h2>Education</h2>
      <div class="content">
        <h5>Escuela Colombiana de Ingeniería</h5>
        <p>
          <span class="material-symbols-outlined">mail</span> Systems Engineer
        </p>
        <p>
          <span class="material-symbols-outlined">location_on</span> Bogotá,
          Colombia
        </p>
        <p><span class="material-symbols-outlined">event</span> 2017-2022</p>
      </div>
    </section>
  </div>
</main>
